.body1{

    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

.card{
    background-color: aquamarine;
    opacity: 0.8;
}

.btn{
    background-color:darkblue;
    border-radius: 20px;
    color: white;

}
